root {
    --black: #000;
    --red: #e61518;
    --dark-gray: #4f4f4f;
    --med-gray: #969696;
    --light-gray: #f2f2f2;
    --white: #fff;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Typography Defaults */

body {
    font-family: Noto Sans JP;
    color: var(--black);
    line-height: 1.7;
    font-size: 1.08rem;
}

h1, h2, h3, h4 {
    font-family: Work Sans;
    color: #969696;
    line-height: 1.1rem;
    text-transform: uppercase;
    font-weight: 400;
}

h2 {
    font-size: 1.9rem;
    letter-spacing: .2rem;
}

h3 {
    font-size: 1.5rem;
    letter-spacing: .15rem;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color:#000;
    font-size: .8rem;
    font-weight: 100;
    letter-spacing: .2rem;
}

img {
    max-width: 100%;
    display: block;
}

/* Components */
.component {
    margin: 1rem;
}

.component__h1, .component__h2 {
    color:#000;
}

.component__name {
   background-color: #969696;
    color: #fff;
    font-weight: 500;
    padding: 1rem;
    margin: 0 auto;
    text-transform: lowercase;
}

.component img {
    max-width: initial;
}

.component__img {
    border: 1px solid #000;
    overflow-x: auto;
}

.component__code {
    border: 1px solid #000;
    overflow-x: auto;
}

/* Header Styles */

.header {
    width: 1000px;
    margin: 0 auto;
  }
  
  .header__row1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 890px;
  }

  .header__logo--img {
    display: inline-block;
    width: 45px;
  }

.header__wordmark {
   color: var(--black);
    font-size: 3.7rem;
    letter-spacing: .3rem;
}

.nav-bar_button--help {
    background-color: #E61518;
    border: none;
    letter-spacing: .15rem;
    color: white;
    font-size: .65rem;
    padding: .6rem 1.3rem;
  }

  .header__button--coupon {
    background-color: transparent;
    border: 1px solid black;
    font-family: Noto Sans JP;
    font-size: .65rem;
    padding: .6rem 1.7rem;
  }

  .fa-brands {
    margin: 0 1.7rem; 
  }

  nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .header__nav--link {
    font-size: .5rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
    justify-content: center;
}

/* News Section Styles */

.section__news--card {
    width: 210px;
    height: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__news--card__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85px;
    margin: 0 auto 1.2rem auto;
}

.section__news--card__title {
    display: flex;
    justify-content: center;
    font-family: Noto Sans JP;
    font-size: .7rem;
    color: #4f4f4f;
}

.section__news--card__date {
    display: flex;
    font-family: Work Sans;
    font-size: .75rem;
    color: #969696;
    align-self: flex-start;
    margin: 1rem .5rem .3rem .5rem;
    letter-spacing: .1rem;;
}