root {
    --black: #000;
    --red: #e61518;
    --dark-gray: #4f4f4f;
    --med-gray: #969696;
    --light-gray: #f2f2f2;
    --white: #fff;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Typography Defaults */

body {
    font-family: Noto Sans JP;
    color: var(--black);
    line-height: 1.7;
    font-size: 1.08rem;
}

h1, h2, h3, h4 {
    font-family: Work Sans;
    color: #969696;
    line-height: 1.1rem;
    text-transform: uppercase;
    font-weight: 400;
}

h2 {
    font-size: 1.9rem;
    letter-spacing: .2rem;
}

h3 {
    font-size: 1.5rem;
    letter-spacing: .15rem;
}


/* Components */

a {
    text-decoration: none;
    text-transform: uppercase;
    color:#000;
    font-size: .8rem;
    font-weight: 100;
    letter-spacing: .2rem;
}

img {
    max-width: 100%;
    display: block;
}

.component {
    margin: 1rem;
}

.component img {
    max-width: initial;
}

.component__img {
    border: 1px solid #000;
    overflow-x: auto;
}

.component__code {
    border: 1px solid #000;
}

/* Header Styles */
.header__wordmark {
   color: var(--black);
    font-size: 3.7rem;
    letter-spacing: .3rem;
}

.header__nav--link {
    font-size: .5rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
}

.nav-bar_button--help {
    background-color: #E61517;
    border: none;
    letter-spacing: .15rem;
    color: white;
    font-size: .65rem;
    padding: .6rem 1.3rem;
  }

  .header__button--coupon {
    background-color: transparent;
    border: 1px solid black;
    font-family: Noto Sans JP;
    font-size: .65rem;
    padding: .6rem 1.7rem;
  }

  .fa-brands {
    margin: 0 1.7rem; 
  }