root {
    --black: #000;
    --red: #e61518;
    --dark-gray: #4f4f4f;
    --med-gray: #969696;
    --light-gray: #f2f2f2;
    --white: #fff;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Typography Defaults */

body {
    font-family: Noto Sans JP;
    color: var(--black);
    line-height: 1.7;
    font-size: 1.08rem;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: Work Sans;
    color: #969696;
    line-height: 1.1rem;
    text-transform: uppercase;
    font-weight: 400;
}

h2 {
    font-size: 1.9rem;
    letter-spacing: .2rem;
}

h3 {
    font-size: 1.6rem;
    letter-spacing: .15rem;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color:#000;
    font-size: .8rem;
    font-weight: 100;
    letter-spacing: .2rem;
}

img {
    max-width: 100%;
    display: block;
}

/* Components */
.component {
    margin: 1rem;
}

.component__h1, .component__h2 {
    color:#000;
    letter-spacing: 0;
    margin: .6rem auto .6rem .8rem;
}

.component__name {
   background-color: #969696;
    color: #fff;
    font-weight: 500;
    padding: 1rem;
    margin: 0 auto;
    text-transform: lowercase;
}

.component img {
    max-width: initial;
}

.component__img {
    border: 1px solid #000;
    overflow-x: auto;
}

.component__code {
    border: 1px solid #000;
    overflow-x: auto;
}

/* Header Styles */

.header {
    width: 1000px;
    margin: 0 auto;
    padding: 0 0 2rem 0;
    border-bottom: solid .8px #969696;
  }
  
  .header__row1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 890px;
  }

  .header__logo--img {
    display: inline-block;
    width: 45px;
  }

.header__wordmark {
   color: var(--black);
    font-size: 3.7rem;
    letter-spacing: .3rem;
}

.nav-bar_button--help {
    background-color: #E61518;
    border: none;
    letter-spacing: .15rem;
    color: white;
    font-size: .65rem;
    padding: .6rem 1.3rem;
  }

  .header__button--coupon {
    background-color: transparent;
    border: 1px solid black;
    font-family: Noto Sans JP;
    font-size: .65rem;
    padding: .6rem 1.7rem;
  }

  .fa-brands {
    margin: 0 1.7rem; 
  }

  nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .header__nav--link {
    font-size: .5rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
    justify-content: center;
}

/* Linked Images Style */
.hero_img { 
    margin: 3rem auto 4rem auto;
}

.linked_img { 
    margin: .6rem auto 3rem auto;
}

.linked_img--header {
    display: flex;
    margin: 2rem auto 0 auto;
    justify-content: center;
    text-transform: none;
}


/* News Section Styles */

.section__news--header {
    display: flex;
    justify-content: center;
}

.section__news--cards {
    margin: 1rem auto 0 auto;
    width: 1000px;
    background-color:#f2f2f2;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    word-wrap: break-word;
}

.section__news--card {
    width: 210px;
    height: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__news--card__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    margin: 0 auto 1.2rem auto;
}

.section__news--card__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    font-family: Noto Sans JP;
    font-size: .7rem;
    color: #4f4f4f;
    margin: 1rem auto 1rem .5rem;
}

.section__news--card__date {
    display: flex;
    font-family: Work Sans;
    font-size: .75rem;
    color: #969696;
    align-self: flex-start;
    margin: 1rem .5rem .3rem .5rem;
    letter-spacing: .1rem;;
}

.section__news--more {
    margin: 0 auto;
    color:#4f4f4f;
    display: flex;
    width: 1000px;
    justify-content: flex-end;
    background-color: #f2f2f2;
    padding: 1rem;
}

/* Salon Section Stlyes */

.section__salon--grid {
    max-width: 950px;
    margin: 1rem auto;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-gap: 10px;
}

.salon__card {
    position: relative;
    display: inline-block;
}

.salon__card--img {
    display: block;
    filter: brightness(70%);
}

.salon__card--name {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: transparent; 
    color: #fff;  
    font-size: 1.1rem; 
    text-align: center;
    letter-spacing: .1rem;
}


/* Menu Section Styles */

.menu__grid {
    max-width: 990px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.menu__card {
    position: relative;
    display: inline-block;
}

.menu__card--img {
    display: block;
}

.menu__card--header {
    position: relative;
    text-align: center; 
    font-size: 1.6rem;
    letter-spacing: .15rem;
}


/* Social Media Section Styles */ 

.social__grid {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.social__column {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.social__column--youtube {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-left: 1px solid #969696;
    border-right: 1px solid #969696;
}

.instagram__header {
    display: flex;
    margin: 2rem auto;
}

.social__column--instagram {
    display: inline-block;
}

.instagram__handle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social__column--handle {
    text-transform: lowercase;
    display: flex;
    color: #4f4f4f;
    font-size: 1.15rem;
    margin: 0;
}

.picture__icon {
    display: inline-block;
    margin: 0;
    color: #4f4f4f;
}

.social__column--count {
    display: inline-block;
    margin: 0;
}

.insta__grid {
    max-width: 286px;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}

.insta__button--load {
    color: white;
    background-color: #333;
    font-family: Work Sans;
    letter-spacing: .15rem;
    padding: .5rem .7rem;
    border-radius: 5px;
    border: 0;
    margin: 1rem auto .5rem auto;
}

.insta__button--follow {
    color: white;
    background-color: #318CE7;
    font-family: Work Sans;
    letter-spacing: .15rem;
    padding: .5rem;
    border-radius: 5px;
    border: 0;
    text-align: center;
}

.social__youtube--img {
    margin: .6rem auto;
}

.social__twitter--header {
    text-wrap: nowrap;
}

.social__link {
    text-transform: none;
    text-decoration: underline;
    text-wrap: nowrap;
}

.social__footer {
    text-align: center;
}

/* Footer Styles */

.footer__flex {
    width: 900px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #696969;
    border-bottom: 1px solid #696969;
    margin: 1rem auto;
}

.footer__column--social,
.footer__column--2,
.footer__column--3,
.footer__column--4,
.footer__column--5 {
    display: flex;
    flex-direction: column;
}

.footer__social--p {
    text-transform: uppercase;
    color:#969696;
    font-family: Work Sans;
    font-size: .85rem;
    letter-spacing: .1rem;
    margin: .2rem;
}

.footer__link {
    color: #696969;
    margin: .2rem;
}

.footer__row {
    display: flex;
    flex-wrap: nowrap;
}

.footer_logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto;
}
.footer__wordmark {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: .2rem;
    font-family: Work Sans;
    margin: 0;
}

.footer__copyright {
    text-transform: uppercase;
    font-family: Work Sans;
    font-size: .9rem;
    letter-spacing: .15rem;
    margin: 0;
}

.footer__lipps--jp {
    font-family: Noto Sans JP;
    font-size: .7rem;
    margin: 0;
}

.footer_top--button {
    align-self: flex-end;
}