<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width-device-width", initial-scale="1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title> Components | LIPPS Hair</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@450&family=Work+Sans:wght@100..500&d&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/52b5bddf69.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../css/main.css"/>
        <link href="../css/normalize.css" rel="stylesheet"/>
    </head>
    <body>
        <h1 class="component__h1">Web Components</h1>

        <h2 class="component__h2">Typography Defaults</h2>

            <article class="component">
            <h3 class="component__name"> Body</h3>
            <div class="component__img">
                <img srcset="images/typography_body.png 2x"
                src="images/typography_body.png" alt="body copy"/>
            </div>
            <div class="component__code">
                1999年4月、「LIPPS（現在の名称は“LIPPS hair”）」1号店となる原宿店を開業。オールジャンルサロンと
                して誕生しました。開業当時は、カリスマ美容師ブームの真っただ中。LIPPSは、お客様一人ひとりと真摯に向き合
                い、一切妥協しないクリエイティビティと技術で差別化を図ろうと考えました。常にお客様のことを第一に考え、正
                確で丁寧な技術でどんなリクエストにも応えていく。人を美しくする“美容”の仕事をしている自覚を持ち、サロン内
                での立ち居振る舞いや、店内の美化、お客様への細やかな気づかいなど、技術以外のことも意識高く取り組む。当時
                のカリスマ美容師ブームとは、あらゆる面で一線を画し、繊細で美しいヘアスタイルは口コミで評判に。顧客は順調
                に増えていきました。
            </div>
            </article>

            <article class="component">
            <h3 class="component__name">Headings</h3>
            <div class="component__img">
                <img srcset="images/section__h2--hairstyle.png 2x"
                src="images/section__h2--hairstyle.png" alt="h2"/>
                <img srcset="images/section__h3--products.png 2x"
                src="images/section__h3--products.png" alt="h3"/>
            </div>
            <div class="component__code">
                <h2>Hair Style</h2>
                <h3>Products</h3>
            </div>
            </article>
       
        <h2 class="component__h2">Header Styles</h2>
        <article class="component">
            <h3 class="component__name">Wordmark</h3>
            <div class="component__img">
                <img srcset="images/header__logo--wordmark.png 2x"
                src="images/header__logo--wordmark.png" alt="LIPPS wordmark"/>
            </div>
            <div class="component__code">
                <h1 class="header__wordmark">LIPPS</h1>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">.header__button--help</h3>
            <div class="component__img">
                <img srcset="images/header__button--help.png 2x"
                src="images/header__button--help.png" alt="header help button"/>
            </div>
            <div class="component__code">
                <a href="https://lipps-hair.com/contact/"><button class="nav-bar_button--help">24H Web予約</button></a>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">.header__button--coupon</h3>
            <div class="component__img">
                <img srcset="images/header__button--coupon.png 2x"
                src="images/header__button--coupon.png" alt="header__button--coupon"/>
            </div>
            <div class="component__code">
                <a href="https://lipps-hair.com/contact/"><button class="header__button--coupon">クーポン</button></a>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">.header__icons</h3>
            <div class="component__img">
                <img srcset="images/header__icons.png 2x"
                src="images/header__icons.png" alt="header__icons"/>
            </div>
            <div class="component__code">
                <span style="color: gray">
                    <i class="fa-brands fa-instagram fa-lg"></i>
                </span>
                <span style="color: gray">
                    <i class="fa-brands fa-youtube fa-lg"></i>
                </span>
                <span style="color: gray">
                    <i class="fa-brands fa-twitter fa-lg"></i>
                </span>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">.header__nav--link</h3>
            <div class="component__img">
                <img srcset="images/header__nav--link__concept.png 2x"
                src="images/header__nav--link__concept.png" alt="header nav link"/>
            </div>
            <div class="component__code">
                <a class=".header__nav--link" href="https://lipps-hair.com/concept/">Concept</a>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">.header__nav</h3>
            <div class="component__img">
                <img srcset="images/header__nav.png 2x"
                src="images/header__nav.png" alt="header nav"/>
            </div>
            <div class="component__code">
                <nav class="header__nav">
                    <a class="nav-link" href="https://mens-hairstyle.jp/">HAIR STYLE</a>
                    <a class="nav-link" href="https://lipps-hair.com/salon/">SALON</a>
                    <a class="nav-link" href="https://lipps-hair.com/staff/">STAFF</a>
                    <a class="nav-link" href="https://lipps-hair.com/news/">NEWS</a>
                    <a class="nav-link" href="https://lipps-hair.com/menu-2022/">MENU</a>
                    <a class="nav-link" href="https://lipps-hair.com/concept/">CONCEPT</a>
                    <a class="nav-link" href="https://history.lipps.co.jp/">HISTORY</a>
                    <a class="nav-link" href="https://lipps-product.com/">PRODUCT</a>
                    <a class="nav-link" href="https://lipps-hair.com/recruit/">RECRUIT</a>
                </nav>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">.header</h3>
            <div class="component__img">
                <img srcset="images/header.png 2x"
                src="images/header.png" alt="header"/>
            </div>
            <div class="component__code">
                <div class="header">
                    <div class="header__row1">
                        <a class="header__logo--img" href="https://lipps-hair.com/"><img class="header__logo--img" src="images/header__logo--img.png" alt="Lipps logo"></a>
                        <a href="https://lipps-hair.com/"><h1 class="header__wordmark">LIPPS</h1></a>
                        <div class="header__button--cluster">
                            <div class="header__button--group">
                                <a href="https://lipps-hair.com/contact/"><button class="nav-bar_button--help">24H Web予約</button></a>
                                <a href="https://lipps-hair.com/contact/"><button class="header__button--coupon">クーポン</button></a>
                            </div>
                            <div class="header__button--icons">
                                <span style="color: gray">
                                    <i class="fa-brands fa-instagram fa-lg"></i>
                                </span>
                                <span style="color: gray">
                                    <i class="fa-brands fa-youtube fa-lg"></i>
                                </span>
                                <span style="color: gray">
                                    <i class="fa-brands fa-twitter fa-lg"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <nav class="attempt-row2">
                        <a class="nav-link" href="https://mens-hairstyle.jp/">HAIR STYLE</a>
                        <a class="nav-link" href="https://lipps-hair.com/salon/">SALON</a>
                        <a class="nav-link" href="https://lipps-hair.com/staff/">STAFF</a>
                        <a class="nav-link" href="https://lipps-hair.com/news/">NEWS</a>
                        <a class="nav-link" href="https://lipps-hair.com/menu-2022/">MENU</a>
                        <a class="nav-link" href="https://lipps-hair.com/concept/">CONCEPT</a>
                        <a class="nav-link" href="https://history.lipps.co.jp/">HISTORY</a>
                        <a class="nav-link" href="https://lipps-product.com/">PRODUCT</a>
                        <a class="nav-link" href="https://lipps-hair.com/recruit/">RECRUIT</a>
                    </nav>
                </div>
            </div>
        </article>

        <h2 class="component__h2">News Section</h2>
        <article class="component">
            <h3 class="component__name">.section__news--cards</h3>
            <div class="component__img">
                <img srcset="images/section__news--card.png 2x"
                src="images/section__news--card.png" alt="section news card"/>
            </div>
            <div class="component__code">
                <div class="section__news--card">
                    <a class="section__news--card__logo" href="#"><img class="section__news--card__logo" src="images/section__news--card__logo.png" alt="Lipps logo"></a>
                    <p class="section__news--card__title">【重要】デザイナー異動のご案内</p>
                    <date class="section__news--card__date">2024.09.30</date>
                </div>
            </div>
        </article>


    </body>
</html>