<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width-device-width", initial-scale="1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title> Components | LIPPS Hair</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@450&family=Work+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/main.css"/>
        <link href="../css/normalize.css" rel="stylesheet"/>
    </head>
    <body>
        <h1>Web Components</h1>

        <h2>Typography Defaults</h2>
            <article class="component">
            <h3 class="component__name"> Body</h3>
            <img srcset="images/typography_body.png 2x"
            src="images/typography_body.png" alt="body copy"/>
            
            <div class="component__code">
                1999年4月、「LIPPS（現在の名称は“LIPPS hair”）」1号店となる原宿店を開業。オールジャンルサロンとして誕生しました。開業当時は、カリスマ美容師ブームの真っただ中。LIPPSは、お客様一人ひとりと真摯に向き合い、一切妥協しないクリエイティビティと技術で差別化を図ろうと考えました。常にお客様のことを第一に考え、正確で丁寧な技術でどんなリクエストにも応えていく。人を美しくする“美容”の仕事をしている自覚を持ち、サロン内での立ち居振る舞いや、店内の美化、お客様への細やかな気づかいなど、技術以外のことも意識高く取り組む。当時のカリスマ美容師ブームとは、あらゆる面で一線を画し、繊細で美しいヘアスタイルは口コミで評判に。顧客は順調に増えていきました。
            </div>

            </article>
    </body>
</html>